


.dashboard-links a {
    display: inline-block;
    margin-right: 10px; 
    text-decoration: none;
    padding: 8px;
    background-color: #3498db; 
    color: #ffffff; 
    border-radius: 5px;
}

.dashboard-links a:hover {
    background-color: #2980b9; 
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}
